---
import ContentLayout from "../../../layouts/ContentLayout.astro";
---

<ContentLayout title="NexChat Terms and Conditions">
  <h1>NexChat Terms and Conditions</h1>
  <p>Last updated: March 15, 2023</p>
  <p>
    These terms and conditions (the “Terms and Conditions”) govern the use of
    NexChat (the “App”) provided by Playense LTD (“us”, “we”, or “our”). By
    downloading and using the App, you agree to be bound by these Terms and
    Conditions.
  </p>

  <h2>User Accounts</h2>
  <p>
    Users of the App must create an account to access the App. You are
    responsible for maintaining the confidentiality of your account and password
    and for restricting access to your account, and you agree to accept
    responsibility for all activities that occur under your account or password.
  </p>

  <h2>Content</h2>
  <p>
    Users may create and upload content in the form of text, images, etc. We do
    not guarantee the accuracy, completeness, or usefulness of any
    user-generated content. We are not responsible for any user-generated
    content, and any such content does not necessarily reflect the views of us.
    We are not liable for any loss or damage resulting from your reliance on any
    user-generated content.
  </p>

  <h2>In-App Purchases</h2>
  <p>
    The App offers in-app purchases that allow users to buy virtual goods. All
    purchases are final and non-refundable. We reserve the right to change or
    modify the prices of the virtual goods at any time.
  </p>

  <h2>Subscription Plans</h2>
  <p>
    The App offers subscription plans, which allow users to access additional
    features of the App. All subscription plans are billed on a recurring basis,
    and all fees are non-refundable. We reserve the right to change or modify
    any subscription fees at any time.
  </p>

  <h2>Free Trials</h2>
  <p>
    The App offers free trials of certain subscription plans. All free trials
    are limited to a certain period of time, and all fees are non-refundable.
  </p>

  <h2>Intellectual Property Rights</h2>
  <p>
    All content and trademarks are the exclusive property of us. By using the
    App, you agree not to copy, reproduce, modify, or create derivative works
    from our content and trademarks.
  </p>

  <h2>Feedback and Suggestions</h2>
  <p>
    We welcome any feedback or suggestions from users of the App. By providing
    us with such feedback or suggestions, you agree that we may use such
    feedback or suggestions without compensation or credits.
  </p>

  <h2>Promotions, Contests, and Sweepstakes</h2>
  <p>
    We do not currently offer any promotions, contests, or sweepstakes. If we do
    in the future, the specific rules and regulations will be posted on the App.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions or concerns regarding these Terms and Conditions,
    please contact us at rohidul209@gmail.com.
  </p>

  <h2>Changes to the Terms and Conditions</h2>
  <p>
    We reserve the right to change or modify these Terms and Conditions at any
    time. Any changes or modifications will be effective immediately upon
    posting the revised Terms and Conditions. Your continued use of the App
    following the posting of any changes or modifications constitutes your
    acceptance of such changes or modifications.
  </p>
</ContentLayout>
