---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Store">
  <main>
    <div class="mx-auto max-w-6xl px-4 md:px-6 py-12 space-y-12">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
        {
          [1, 1, 1, 1, 1, 1, 1, 1, 1].map((_) => (
            <article>
              <a href="/">
                <div class="rounded-lg overflow-hidden aspect-[3/2] relative my-4">
                  <img
                    src="https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
                    alt=""
                    class="absolute inset-0 object-cover w-full h-full"
                  />
                </div>
                <h3 class="text-2xl font-medium text-gray-50 my-4 line-clamp-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing.
                </h3>
                <p class="line-clamp-2 my-4">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Maiores, expedita exercitationem? Ab!
                </p>
                <p class="my-2">
                  <span>2 days ago</span>
                  <span>•</span>
                  <span>3 min read</span>
                </p>
              </a>
            </article>
          ))
        }
      </div>
    </div>
  </main>
</PageLayout>
