---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hi, I'm Rohid.">
  <main class="mx-auto prose my-16">
    <p>This site is under construction!</p>
    <h1>Hi, I'm Rohid</h1>
    <p>Self-thought Software Developer</p>
    <p>
      Contact me: <a href="mailto:rohidul209@gmail.com">rohidul209@gmail.com</a>
    </p>
  </main>
</Layout>
