---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout title="Hi, I'm Rohid.">
  <p>This site is under construction!</p>
  <h1>Hi, I'm Rohid</h1>
  <p>Self-thought Software Developer</p>
  <p>
    Contact me: <a href="mailto:rohidul209@gmail.com">rohidul209@gmail.com</a>
  </p>
</ContentLayout>
