---
interface Props {
  name: string;
  href: string;
  exact?: boolean;
}

const { name, href, exact } = Astro.props;
const isActive = exact
  ? Astro.url.pathname === href
  : Astro.url.pathname.startsWith(href);
---

<li>
  <a
    class:list={[
      {
        "text-gray-900 dark:text-gray-50": isActive,
        "hover:text-gray-900 dark:hover:text-gray-50": !isActive,
      },
    ]}
    href={href}>{name}</a
  >
</li>
