---
import HeaderLink from "./HeaderLink.astro";

export async function getStaticPaths() {}
---

<header class="bg-white dark:bg-gray-900 sticky top-0 z-20">
  <div
    class="h-16 flex items-center gap-4 md:gap-6 mx-auto max-w-6xl px-4 md:px-6"
  >
    <nav class="flex-1">
      <ul class="flex items-center gap-4 md:gap-6">
        <HeaderLink href="/" name="Home" />
        <HeaderLink href="/blog" name="Blog" />
        <HeaderLink href="/projects" name="Projects" />
        <HeaderLink
          href="mailto:rohidul209@gmail.com?subject=Contact with Rohid"
          name="Contact"
        />
      </ul>
    </nav>

    <ul class="flex items-center gap-4 md:gap-6 h-full">
      <li>
        <a
          href="https://twitter.com/rohid_dev"
          class="hover:text-gray-900 dark:hover:text-gray-50 text-xl"
        >
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
