---
interface Props {
  title: string;
  description?: string;
  tags?: string[];
}

const { title, description, tags = [] } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={[...tags].join(", ")} />
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="/fontawesome/css/brands.css" />
    <link rel="stylesheet" href="/fontawesome/css/regular.css" />
    <link rel="stylesheet" href="/fontawesome/css/solid.css" />

    <!-- Google Tags -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-989F7PZJ09"
    ></script>
    <script
      set:html={`
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-989F7PZJ09');
    `}
    ></script>
  </head>
  <body class="bg-white text-gray-600 dark:bg-gray-900 dark:text-gray-300">
    <slot />
  </body>
</html>
